
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px 0;
}

header h1 {
  font-size: 36px;
  color: black;
  margin: 20px 0;
}


.about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}

.about-content h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #7d009f;
}

.about-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  background-color: #7d009f;
  padding: 10px 0;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 20px;
}
