<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="about.component.css">
  <title>Acerca de - GeoPortal de Geomática</title>
</head>
<body>
<header>
  <h1>Acerca de</h1>
</header>

<div class="about-content">
  <h2>Resumen del Proyecto</h2>
  <p>Este proyecto tiene como objetivo crear un GeoPortal utilizando tecnologías web modernas como Angular y OpenLayers. El Geopotal proporciona una plataforma interactiva que permite dibujar puntos, polígonos y distancias y obtener sus coordenadas.</p>

  <h2>Objetivos</h2>
  <p>El objetivo principal de este proyecto es combinar el desarrollo web con el mundo de la geomática y la topografía, explorando cómo la tecnología puede mejorar la visualización y el análisis de datos geográficos.</p>

  <h2>Tecnologías Utilizadas</h2>
  <p>El desarrollo de este Geoportal se basó en Angular, un framework de desarrollo web, y OpenLayers, una biblioteca de JavaScript para mapas interactivos. Estas tecnologías permitieron crear una experiencia de usuario sencilla pero funcional.</p>

  <h2>Desarrollador</h2>
  <p>Este proyecto ha sido desarrollado por Diego Terevinto Charquero. Soy un estudiante de la Universidad Politécnica de Valencia y estoy cursando el Grado en Ingeniería en Geomática y Topografía. Mi agrado por la geomática y el desarrollo web me llevó a crear este Geoportal como parte de mi trabajo de fin de grado.</p>

  <h2>Conecta Conmigo</h2>
  <p>Si deseas conocer más sobre mi y mi experiencia, no dudes en visitar mi perfil de <a href="https://www.linkedin.com/in/diegoterevinto/" target="_blank">LinkedIn</a>.</p>
</div>

<footer>
  <a href="/">Explorar el GeoPortal</a>
  <a href="/principal">Página Principal</a>
</footer>
</body>
</html>
