<mat-sidenav-container>

  <mat-sidenav mode="side" opened>

    <div class="dibujar-seleccionar-buttons">
      <button mat-button [matMenuTriggerFor]="drawMenu" class="option-buttons">Dibujar</button>
      <mat-menu #drawMenu="matMenu">
        <button mat-menu-item (click)="dibujarPunto()">Punto</button>
        <button mat-menu-item (click)="dibujarDistancia()">Distancia</button>
        <button mat-menu-item (click)="dibujarPoligono()">Polígono</button>
      </mat-menu>

      <button mat-button class="option-buttons" (click)="seleccionar(geometryType)">Seleccionar
      </button>
    </div>


    <div class="download-buttons">
      <button mat-button [matMenuTriggerFor]="downloadMenu" class="option-buttons">Descargar Geometrías</button>
      <mat-menu #downloadMenu="matMenu">
        <button mat-menu-item (click)="descargarFormato('geojson')">GeoJSON</button>
        <button mat-menu-item (click)="descargarFormato('wkt')">WKT</button>
        <button mat-menu-item (click)="descargarFormato('csv')">CSV</button>
      </mat-menu>
    </div>

    <button mat-button class="option-buttons" (click)="eliminarGeometrias()">Eliminar Geometrías</button>


    <div class="polygon-data">
      <label>Coordenadas del polígono en formato WKT:</label>
      <textarea id="coordinatesTextArea"></textarea>

    </div>

    <input type="file" (change)="onFileSelected($event)" accept=".geojson" />

    <label>URL del servicio WMS:</label>
    <input type="text" [(ngModel)]="wmsUrl" placeholder="Introduce la URL del servicio WMS" />
    <button mat-button (click)="agregarWMS()">Agregar WMS</button>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4 ">
      <ng-content></ng-content> <!-- AQUÍ SE ESTÁ PROYECTANDO LO QUE ESTÁ EN GEOPORTAL -->

      <div class="capas">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>layers</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="togglePNOA()">PNOA</button>
          <button mat-menu-item (click)="toggleWMS()">Catastro</button>
        </mat-menu>
      </div>


    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
