
mat-sidenav{
  margin: 16px;
  width: 250px;
  border-right: none;
  background: #1fabe1;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;

  border-radius: 10px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.dibujar-seleccionar-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 220px;
}
.mat-button,
.option-buttons {
  background-color: #7d009f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 2px;
}
.mat-button:hover,
.option-buttons:hover {
  background-color: #48005c;
}


.mat-menu-item {
  background-color: #7d009f;
  color: #fff;
}


.mat-menu-item:hover {
  background-color: #48005c;
}

.capas {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;
}

.mat-icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.textarea {
  height: 200px;
}

#coordinatesTextArea {
  height: 200px;
  width: 150px;
}






.formulario-wms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #1fabe1;
  color: white;
  border-radius: 10px;
  text-align: center;
}


.add-remove-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
}


.formulario-wms button {
  background-color: #7d009f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


.formulario-wms input[type="text"],
.formulario-wms select {
  margin-top: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
}

.formulario-wms button:hover {
  background-color: #48005c;
}
